@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 0%);
  --color-para-blog: hsl(220 6% 20%);
  --color-link-blog: hsl(226 71% 40%);
  --color-code-blog: hsl(217 91% 60%);
  --color-h-color-1: hsl(14 100% 70%);
  --color-h-color-2: hsl(344 100% 69%);
  --color-h-color-3: hsl(134 100% 70%);
  --color-h-color-4: hsl(74 100% 70%);
  --color-h-color-5: hsl(326 85% 90%);
  --color-link: hsl(0 0% 5%);
}

@layer base {
  [data-theme="dark"] {
    --color-background: hsl(0 0% 0%);
    --color-foreground: hsl(0 0% 100%);
    --color-para-blog: hsl(0 0% 85%);
    --color-link-blog: hsl(226 71% 55%);
    --color-code-blog: hsl(217 91% 80%);
    --color-h-color-1: hsl(14 100% 70%);
    --color-h-color-2: hsl(344 100% 69%);
    --color-h-color-3: hsl(134 100% 70%);
    --color-h-color-4: hsl(74 100% 70%);
    --color-h-color-5: hsl(326 85% 90%);
  }
}

.blog {
  @apply bg-background text-foreground selection:bg-foreground selection:text-background text-sm/7;
}


.blog h1,
h2,
h3,
h4,
h5{
  @apply font-medium;
}

.blog h1 {
  @apply text-foreground      text-2xl md:text-4xl tracking-tighter  px-4;
}

.blog h2 {
  @apply text-foreground mt-16 text-xl  md:text-3xl leading-10 tracking-tight capitalize;
}

.blog h3 {
  @apply text-foreground mt-12 text-lg  md:text-2xl  leading-8 tracking-tight capitalize;
}

.blog h4 {
  @apply text-foreground mt-8 text-base md:text-xl  leading-6 tracking-normal;
}

.blog p {
  @apply text-foreground mt-4 text-sm/7 max-w-2xl has-[+ol]:mb-2 has-[+ul]:mb-2;
}


.blog code {
  @apply text-foreground  before:content-['`'] after:content-['`'];
}

.blog .listLink {
  @apply pl-0 mt-0;
}

.blog .navLink {
  @apply pl-0 mt-0;
}

.blog header a {
  @apply after:content-[''] font-normal;
}

.blog ul {
  @apply list-[square] pl-8 mt-8;
}

.blog ol {
  @apply list-decimal pl-8 mb-8;
}


.blog li {
  @apply pl-3 mt-4 text-foreground;
}

.blog .link {
  @apply pl-0 mt-0 text-foreground no-underline text-sm;
}

.blog pre code {
  @apply before:content-[''] after:content-[''];
}
.blog hr {
  @apply my-20 border-foreground/10;
}

.blog a {
  @apply text-foreground underline font-medium underline-offset-4 after:content-[url("/src/assets/arrowLink.svg")] decoration-blue-400 hover:decoration-3;
}

.blog pre {
  @apply relative mb-11 rounded-xl p-5 mt-6 outline-2 -outline-offset-4 outline-gray-600 max-w-[1024px];
}

.blog .blogImg {
  @apply mt-6 rounded-xl;
}

.h_color1 {
  @apply bg-h-color-1/30 dark:bg-h-color-1/80;
}

.h_color2 {
  @apply bg-h-color-2/30 dark:bg-h-color-2/80;
}

.h_color3 {
  @apply bg-h-color-3/30 dark:bg-h-color-3/80;
}

.h_color4 {
  @apply bg-h-color-4/30 dark:bg-h-color-4/80;
}

.h_color5 {
  @apply bg-h-color-5/30 dark:bg-h-color-5/80;
}

.btnCopy {
  @apply absolute top-2 right-2 z-50 hidden cursor-pointer rounded-md bg-white px-3 py-0.5 text-sm tracking-tight text-black;
}

.visible .btnCopy {
  @apply block;
}
