@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 0%);
  --color-para-blog: hsl(220 6% 20%);
  --color-link-blog: hsl(226 71% 40%);
  --color-code-blog: hsl(217 91% 60%);
  --color-h-color-1: hsl(14 100% 70%);
  --color-h-color-2: hsl(344 100% 69%);
  --color-h-color-3: hsl(134 100% 70%);
  --color-h-color-4: hsl(74 100% 70%);
  --color-h-color-5: hsl(326 85% 90%);
  --color-link: hsl(0 0% 5%);
}

@layer base {
  [data-theme="dark"] {
    --color-background: hsl(0 0% 0%);
    --color-foreground: hsl(0 0% 100%);
    --color-para-blog: hsl(0 0% 85%);
    --color-link-blog: hsl(226 71% 55%);
    --color-code-blog: hsl(217 91% 80%);
    --color-h-color-1: hsl(14 100% 70%);
    --color-h-color-2: hsl(344 100% 69%);
    --color-h-color-3: hsl(134 100% 70%);
    --color-h-color-4: hsl(74 100% 70%);
    --color-h-color-5: hsl(326 85% 90%);
  }
}

.blog {
  @apply bg-background text-foreground selection:bg-foreground selection:text-background text-sm/7;
}

.blog h1,
h2,
h3,
h4,
h5 {
  @apply font-medium;
}

.blog h1 {
  @apply text-foreground px-4 text-2xl tracking-tighter md:text-4xl;
}

.blog h2 {
  @apply text-foreground mt-16 text-xl leading-10 tracking-tight capitalize md:text-3xl;
}

.blog h3 {
  @apply text-foreground mt-12 text-lg leading-8 tracking-tight capitalize md:text-2xl;
}

.blog h4 {
  @apply text-foreground mt-8 text-base leading-6 tracking-normal md:text-xl;
}

.blog p {
  @apply text-para-blog mt-4 max-w-2xl text-sm/7 has-[+ol]:mb-2 has-[+ul]:mb-2;
}

.blog code {
  @apply text-foreground before:content-['`'] after:content-['`'];
}

.blog .listLink {
  @apply mt-0 pl-0;
}

.blog .navLink {
  @apply mt-0 pl-0;
}


.blog ul {
  @apply mt-8 list-[square] pl-8;
}

.blog ol {
  @apply mb-8 list-decimal pl-8;
}

.blog li {
  @apply text-foreground mt-4 pl-3;
}


.blog pre code {
  @apply before:content-[''] after:content-[''];
}
.blog hr {
  @apply border-foreground/10 my-20;
}

.blog a:not(.headerLink) {
  @apply text-foreground font-medium underline decoration-neutral-950/20 dark:decoration-stone-700 underline-offset-4 hover:decoration-3 
}

.blog a:not(.headerLink)::after {
  content:"";
  display:inline-flex;
  width:12px; height:12px;
  background-color:var(--color-foreground);
  mask: url('/src/assets/arrowLink.svg');
}

.blog a:not(.

.blog pre {
  @apply relative mt-6 mb-11 max-w-[1024px] rounded-xl p-5 outline-2 -outline-offset-4 outline-gray-600;
}

.blog .blogImg {
  @apply mt-6 rounded-xl;
}

.h_color1 {
  @apply bg-h-color-1/30 dark:bg-h-color-1/40;
}

.h_color2 {
  @apply bg-h-color-2/30 dark:bg-h-color-2/40;
}

.h_color3 {
  @apply bg-h-color-3/30 dark:bg-h-color-3/40;
}

.h_color4 {
  @apply bg-h-color-4/30 dark:bg-h-color-4/40;
}

.h_color5 {
  @apply bg-h-color-5/30 dark:bg-h-color-5/40;
}

.btnCopy {
  @apply absolute top-2 right-2 z-50 hidden cursor-pointer rounded-md bg-white px-3 py-0.5 text-sm tracking-tight text-black;
}

.visible .btnCopy {
  @apply block;
}
