@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --foreground:rgb(0,0,0);
}

.dark {
  --foreground:rbg(255,255,255);
}

@theme {
  --font-bold: "Notable", "sans-serif";
  --font-sans: "Inter", "sans-serif";
  --font-elegant: "Poppins", "sans-serif";
  --breakpoint-xl: 70rem;
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: 0 0% 0%;
  --color-accent: hsl(203 78% 54%);
  --color-ghost: hsl(214.99 31% 17%);
  --color-ghost-label: hsl(216 12% 84%);
  --color-link: hsl(0 0% 5%);
  --color-header: hsl(221 39% 11%);
  --color-para: hsl(0 0% 38%);
  --color-intro: hsl(0 0% 50%);
  --color-txt-outline: hsl(0 0% 25%);
  --color-header_2: hsl(0, 0%, 62%);
  --color-txt-journey: hsl(215 25% 27%);
}

@layer base {
  [data-theme="dark"] {
    --color-background: hsl(0 0% 0%);
    --color-foreground: hsl(0 0% 100%);
    --color-accent: hsl(203 78% 54%);
    --color-ghost: hsl(218 11% 65%);
    --color-ghost-label: hsl(215 14% 34%);
    --color-link: hsl(0 0% 95%);
    --color-header: hsl(220 14% 96%);
    --color-para: hsl(0 0% 68%);
    --color-intro: hsl(0 0% 50%);
    --color-txt-outline: hsl(0 0% 85%);
    --color-header_2: hsl(0, 0%, 32%);
    --color-txt-journey: hsl(215 25% 90%);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
