<div class="w-full font-mono">01</div>

<div class="flex w-full flex-col">
  <h2 class="font-elegant text-[22px] font-medium tracking-tight">
    color to palette
  </h2>

  <video
    src="../../src/assets/color-to-palette_video.mp4"
    autoplay
		loop
    width="710"
    height="300">

    Your browser doesn't support videos!
  </video>
</div>
