---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ui/ThemeToggle.astro";

const linksNav = [
  {
    nameLink: "here",
    link: "/",
  },
];
---

<header class="mx-2 mt-8 flex lg:w-5xl items-center justify-between lg:mx-4">
  <a href="/" class="flex">
    <div class="cont_logo flex items-center">
      <Icon name="caffeine" class="text-foreground" />
      <div class="flex h-8 items-start">
        <Icon name="asterisk-icon" class="asterisk" />
      </div>
    </div>
  </a>

    <nav>
      <ul class="flex gap-8">
        {
          linksNav.map(({ nameLink, link }) => (
            <li class="[.blog_&]:!mt-0 list-none">
              <a
                href={link}
								class="link"
              >
                {nameLink}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ThemeToggle />
</header>
