---
import HeaderProject from "./HeaderProject.astro";
import BodyProject from "./BodyProject.astro";
import FooterProject from "./FooterProject.astro";
---

<section class="mt-20 flex w-full max-w-5xl flex-col px-4">
  <div class="grid w-full grid-cols-[40px_minmax(0,1fr)] gap-y-8">
    <HeaderProject />
    <BodyProject />
    <FooterProject />
  </div>
</section>
