---
import ListBlog from "./ui/ListBlog.astro";
import ListBlogProto from "./ui/ListBlogProto.astro";
import ListBlogWAccordion from "./ui/ListBlogWAccordion.astro";
const data = import.meta.glob("../pages/blog/*.md", { eager: true });
const format_data = Object.values(data).map((post) => {
  return { ...post.frontmatter, url: post.url };
});
---

<section class="mt-20 w-full">

  <div class="mb-20 flex w-fit gap-4 px-3">

	 <!--Desktop version-->
    <ul
      role="list"
      class="marker:text-foreground hidden w-auto list-outside list-[square] flex-col gap-4 pl-4 md:flex"
    >
      {
        format_data.map((post) => (
          <li>
            <ListBlogProto post={post} />
          </li>
        ))
      }
    </ul>

		<!--Mobile/Tablet version -->
    <div class="flex w-full flex-col gap-4 md:hidden">
      {format_data.map((post) => <ListBlogProto post={post} />)}
    </div>

  </div>
</section>
