---
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>

  <header class="flex flex-col my-8">
    <h1
      class="text-balance text-foreground text-6xl sm:text-8xl max-w-4xl pl-4 text-left leading-[52px] font-medium tracking-tighter capitalize min-[520px]:leading-16 min-[800px]:leading-20 sm:tracking-tight lg:leading-28 pb-8"
    >
      {frontmatter.title}
    </h1>
  </header>

    <div class="mb-8 px-4 text-left">
      <slot />
    </div>

</BlogLayout>
