---
const { post } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col pt-8">
	<h4 class="min-w-28">Description</h4>

	<p class="text-xl pl-16 max-w-xl">
		{post.description ? post.description : "There is no description"}
	</p>
</div>

<div class="flex flex-col pt-2">
	<h4 class="min-w-28 max-w-xl">Genre</h4>

	<div class="pl-16 flex">
		{
			post.tags.map((tag) => (
				<div class="border-foreground border px-2 py-0.5 w-fit">{tag.name}</div>
			))
		}
	</div>
</div>

<a href={post.url} class="text-accent flex items-center gap-2 pt-8">
	See it now 
	<Icon name="arrow_link-icon" />
</a>
