---
const { post } = Astro.props;
import { Icon } from 'astro-icon/components'
---

<div class="grid grid-cols-[minmax(0,1fr)_300px] flex-col gap-2">
  <div class="flex flex-col">
    <div class="flex items-center gap-2">
      <p class="text-xs/6">{post.pubDate}</p>
      <div class="place-conten-center grid">
				<Icon name="circle-icon" class="size-1 dark:fill-white/10 dark:stroke-white/10 fill-gray-950/5 stroke-gray-950/5"/>
      </div>
      <p
        class="text-sm text-[11px] font-semibold tracking-wide text-gray-800/70 uppercase dark:text-white/60"
      >
        #{post.genre}
      </p>
    </div>
    <h2
      class="w-fit overflow-hidden text-2xl tracking-tighter text-ellipsis whitespace-nowrap md:text-4xl"
    >
      {post.title}
    </h2>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6 self-end transition-transform [.open_&]:rotate-90 ml-auto"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m7.49 12-3.75 3.75m0 0 3.75 3.75m-3.75-3.75h16.5V4.499"></path>
  </svg>
</div>
